<!DOCTYPE html>
<html>
<head>
	<title>Tabela de dados</title>
	<!-- Importar o Bootstrap para estilizar a tabela -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Tabela de dados</h1>
		<!-- Inserir a tabela gerada pelo pandas -->
		{{ tabela_html|safe }}
	</div>
	<!-- Importar o jQuery e o Bootstrap para funcionamento de algumas funcionalidades -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
